button {
    width: fit-content;
    margin: 1rem;
    padding: 0.35rem 0.7rem;
    border: solid 1px;
    border-radius: 2px;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
}

.pulsante-primario {
    background-color: var(--pulsante-primario);
}

.pulsante-primario:hover {
    background-color: var(--pulsante-primario-hover);
}

.pulsante-secondario {
    background-color: var(--pulsante-secondario);
}

.pulsante-secondario:hover {
    background-color: var(--pulsante-secondario-hover);
}