header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column: span 2;
    padding: 0 1rem;
    background-color: var(--sfondo-pannello);
    color: var(--testo-bianco);
}

#titolo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#titolo h1 {
    margin: 0;
    font-size: 1.8rem;
}

#utente-sessione {
    font-weight: bold;
}

#pannello-sinistro,
#pannello-destro {
    background-color: var(--sfondo-pannello);
    color: var(--testo-chiaro);
}

#pannello-sinistro {
    grid-column: 1;
}

#pannello-destro {
    grid-column: 2;
    padding: 0.2rem;
}

main {
    display: grid;
    grid-template-columns: auto 16vw;
    grid-column: 2;
}