#legenda {
    margin: 1rem;
    margin-top: 0;
    padding: 0.5rem;
    border: 1px solid var(--bordo);
    border-radius: 10px;
    background-color: var(--sfondo-base);
    color: var(--testo-scuro);
    box-shadow: 0 4px 12px var(--ombra);
}

#mostra-legenda {
    color: var(--testo-scuro);
    text-decoration: underline;
    cursor: pointer;
}

#contenuto-legenda {
    display: none;
}

#legenda:hover #mostra-legenda {
    color: var(--pulsante-primario-hover);
}

#legenda:hover #contenuto-legenda {
    display: block;
}

.punto-legenda {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-left: 0.2rem;
    font-size: 0.8rem;
    line-height: 0.5;
}

.quadrato {
    width: 8px;
    height: 8px;
}

.quadratino {
    width: 5px;
    height: 5px;
}

.cerchio {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.verde-scuro {
    background-color: var(--verde-scuro);
}

.verde {
    background-color: var(--verde);
}

.rosso-scuro {
    background-color: var(--rosso);
}

.arancione {
    background-color: var(--arancione);
}

.bianco {
    width: 3px;
    height: 3px;
    border: solid 1px var(--testo-scuro);
    background-color: var(--sfondo-base);
}