* {
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 16vw auto;
    grid-template-rows: 16vh auto;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #1e293b;
    color: white;
    display: flex;
    flex-direction: row;
    grid-column: span 2;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#titolo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

#titolo h1 {
    font-size: 1.8rem;
    margin: 0;
}

button {
    border: solid 1px;
    padding: 0.35rem 0.7rem;
    border-radius: 2px;
    cursor: pointer;
    margin: 1rem;
    font-size: 0.85rem;
}

button:hover {
    opacity: 0.8;
}

.pulsante-primario {
    background-color: rgb(120, 152, 237);
}

.pulsante-primario:hover {
    background-color: rgb(81, 118, 219);
}

#utente-sessione {
    font-weight: bold;
}

#pannello-sinistro,
#pannello-destro {
    background-color: #1e293b;
    color: #e2e8f0;
}

#pannello-sinistro {
    grid-column: 1;
}

#pannello-destro {
    padding: 0.2rem;
    grid-column: 2;
}

.form-primario {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #0f172a;
    border: 1px solid #334155;
    border-radius: 10px;
    padding: 1rem;
}

.form-gruppo {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}

form input,
form select {
    padding: 0.4rem;
    border-radius: 6px;
    border: 1px solid #475569;
    background-color: lightgray;
    color: white;
}

.nascosto {
    display: none !important;
}

#schermata-iniziale {
    background-color: #571313;
    border: 1px solid #991b1b;
    border-radius: 12px;
    padding: 1.5rem;
    width: 90%;
    margin: 1rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fee2e2;
}

#inizia-partita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#schermata-iniziale input,
#schermata-iniziale select {
    background-color: white;
    color: black;
    border: 1px solid #7f1d1d;
}

#schermata-iniziale select {
    background-color: white;
    color: black;
    border: 1px solid #7f1d1d;
}

#nomi-giocatori {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nomi-giocatori label {
    font-size: large;
    gap: 2rem;
}

#seleziona-pista {
    align-items: center;
    justify-content: center;
}

#seleziona-pista input {
    height: 2rem;
    width: 7rem;
}

.pulsante-secondario {
    background-color: #dc2626;
}

.pulsante-secondario:hover {
    background-color: #b91c1c;
}

main {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 16vw;
}

canvas {
    display: block;
    background-color: white;
    grid-column: 1;
    margin: auto;
}

/* cosi' si adatta alla grandezza della pagina, avra' bisogno di un fattore di scala*/

#turno-container,
#mosse-container {
    background-color: #0f172a;
    border: 1px solid #334155;
    border-radius: 10px;
    padding: 0.6rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}

#turno {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


#legenda {
    margin: 1rem;
    margin-top: 0;
    background-color: white;
    color: black;
    border: 1px solid #475569;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#mostra-legenda {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

#contenuto-legenda {
    display: none;
}

#legenda:hover #mostra-legenda {
    color: rgb(81, 118, 219);
}

#legenda:hover #contenuto-legenda {
    display: block;
}

.punto-legenda {
    display: flex;
    align-items: center;
    margin-left: 0.2rem;
    font-size: 0.8;
    line-height: 0.5;
    gap: 0.4rem;
}

.quadrato {
    height: 8px;
    width: 8px;
}

.quadratino {
    height: 5px;
    width: 5px;
}

.cerchio {
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.verde-scuro {
    background-color: darkgreen;
}

.verde {
    background-color: lightgreen;
}

.rosso-scuro {
    background-color: darkred;
}

.arancione {
    background-color: orange;
}

.bianco {
    background-color: white;
    border: solid 1px black;
    height: 3px;
    width: 3px;
}

#fine-partita {
    position: fixed;
    top: 40%;
    left: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    width: 30vw;
    height: 30vh;
    color: white;
    border: 1px solid #334155;
    border-radius: 12px;
}